
Starshot.Service/obj/Starshot.Service.csproj.nuget.g.targets
Starshot.Service/obj/Starshot.Service.csproj.nuget.g.props
Starshot.Service/obj/Starshot.Service.csproj.nuget.dgspec.json
Starshot.Service/obj/project.nuget.cache
Starshot.Service/obj/project.assets.json
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.pdb
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.dll
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.csprojAssemblyReference.cache
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.csproj.FileListAbsolute.txt
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.csproj.CoreCompileInputs.cache
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.csproj.CopyComplete
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.assets.cache
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.AssemblyInfoInputs.cache
Starshot.Service/obj/Debug/netcoreapp3.1/Starshot.Service.AssemblyInfo.cs
Starshot.Service/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Starshot.Service/bin/Debug/netcoreapp3.1/Starshot.Service.pdb
Starshot.Service/bin/Debug/netcoreapp3.1/Starshot.Service.dll
Starshot.Service/bin/Debug/netcoreapp3.1/Starshot.Service.deps.json
Starshot.Service/bin/Debug/netcoreapp3.1/Starshot.DTO.pdb
Starshot.Service/bin/Debug/netcoreapp3.1/Starshot.DTO.dll
Starshot.Service/bin/Debug/netcoreapp3.1/Starshot.Data.pdb
Starshot.Service/bin/Debug/netcoreapp3.1/Starshot.Data.dll
Starshot.DTO/obj/Starshot.DTO.csproj.nuget.g.targets
Starshot.DTO/obj/Starshot.DTO.csproj.nuget.g.props
Starshot.DTO/obj/Starshot.DTO.csproj.nuget.dgspec.json
Starshot.DTO/obj/project.nuget.cache
Starshot.DTO/obj/project.assets.json
Starshot.DTO/obj/Debug/netcoreapp3.1/Starshot.DTO.pdb
Starshot.DTO/obj/Debug/netcoreapp3.1/Starshot.DTO.dll
Starshot.DTO/obj/Debug/netcoreapp3.1/Starshot.DTO.csprojAssemblyReference.cache
Starshot.DTO/obj/Debug/netcoreapp3.1/Starshot.DTO.csproj.FileListAbsolute.txt
Starshot.DTO/obj/Debug/netcoreapp3.1/Starshot.DTO.csproj.CoreCompileInputs.cache
Starshot.DTO/obj/Debug/netcoreapp3.1/Starshot.DTO.assets.cache
Starshot.DTO/obj/Debug/netcoreapp3.1/Starshot.DTO.AssemblyInfoInputs.cache
Starshot.DTO/obj/Debug/netcoreapp3.1/Starshot.DTO.AssemblyInfo.cs
Starshot.DTO/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Starshot.DTO/bin/Debug/netcoreapp3.1/Starshot.DTO.pdb
Starshot.DTO/bin/Debug/netcoreapp3.1/Starshot.DTO.dll
Starshot.DTO/bin/Debug/netcoreapp3.1/Starshot.DTO.deps.json
Starshot.Data/obj/Starshot.Data.csproj.nuget.g.targets
Starshot.Data/obj/Starshot.Data.csproj.nuget.g.props
Starshot.Data/obj/Starshot.Data.csproj.nuget.dgspec.json
Starshot.Data/obj/project.nuget.cache
Starshot.Data/obj/project.assets.json
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.pdb
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.genruntimeconfig.cache
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.dll
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.csprojAssemblyReference.cache
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.csproj.FileListAbsolute.txt
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.csproj.CoreCompileInputs.cache
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.assets.cache
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.AssemblyInfoInputs.cache
Starshot.Data/obj/Debug/netcoreapp3.1/Starshot.Data.AssemblyInfo.cs
Starshot.Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Starshot.Data/bin/Debug/netcoreapp3.1/Starshot.Data.runtimeconfig.json
Starshot.Data/bin/Debug/netcoreapp3.1/Starshot.Data.runtimeconfig.dev.json
Starshot.Data/bin/Debug/netcoreapp3.1/Starshot.Data.pdb
Starshot.Data/bin/Debug/netcoreapp3.1/Starshot.Data.dll
Starshot.Data/bin/Debug/netcoreapp3.1/Starshot.Data.deps.json
